<h1>About Me</h1>
<article>
    <div>
        <h2> Hi, I'm Nick, a sophomore Computer Engineering student at UMD. </h2>
        <p> This site allows for croudsourcing of clothing deals. Users can add and delete new deals, <br> 
        and see them update in real-time on my create page. In addition to this, you can filter deals located in <br>
        specific states, or even deals that are specifically for men or women. More filters will be added as data is gathered <br> 
        I hope you enjoy using the site! </p>
    </div>
</article>